.nag
{
    font-family: 'Cascadia Code' !important;
    /* width: 1200px !important; */
    /* width: 100% !important; */
    margin: auto !important;
}
@font-face {
    font-family: "Cascadia Code";
    src: url(./CascadiaCode.ttf);
    font-weight: normal;
    font-style: normal;
}