table{
    font-family: 'Cascadia Code','Consolas',sans-serif;
    font-weight: bold;
    border-top: 4px solid #e1e1e1;
    border-top-color: rgb(225, 225, 225);
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid #e1e1e1;
    border-right-color: rgb(225, 225, 225);
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom: 4px solid #e1e1e1;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left: 4px solid #e1e1e1;
    border-left-color: rgb(225, 225, 225);
    border-left-style: solid;
    border-left-width: 4px;
}

td{
    border-top: 1px solid #e8e8e8;
    border-top-color: rgb(225, 225, 225);
    border-top-style: solid;
    border-top-width: 1px;
    border-right: 1px solid #e8e8e8;
    border-right-color: rgb(225, 225, 225);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left: 1px solid #e8e8e8;
    border-left-color: rgb(225, 225, 225);
    border-left-style: solid;
    border-left-width: 1px;
}

th{
    width: 75px;
}